<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AirQualityApp"
        tools:targetApi="31">
        <activity
            android:name=".utils.calculateIQA"
            android:exported="false" />
        <activity
            android:name=".utils.ExtraInfoValidation"
            android:exported="false" />
        <activity
            android:name=".utils.PulsingIcon"
            android:exported="false" />
        <activity
            android:name=".utils.InfoCard"
            android:exported="false" />
        <activity
            android:name=".screens.FaqScreen"
            android:exported="false" />
        <activity
            android:name=".utils.SensorCardDualValues"
            android:exported="false" />
        <activity
            android:name=".utils.AirQualitySummary"
            android:exported="false" />
        <activity
            android:name=".utils.SensorCard"
            android:exported="false" />
        <activity
            android:name=".utils.BackgroundUtils"
            android:exported="false" />
        <activity
            android:name=".MapScreen"
            android:exported="false" />
        <activity
            android:name=".HomeScreen"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AirQualityApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>